.movies-list {
  cursor: pointer;

  .movie {
    position: relative;
    display: inline-block;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    line-height: 2;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    &:focus {
      outline: 0;
    }
  }

  .rough-strike-through {
    position: absolute;
    top: 0.55em;
    left: 0;
    width: 100%;
    height: 1em;
    color: $strike-through-color;
    pointer-events: none;

    .line {
      stroke-dasharray: 11;
      stroke-dashoffset: 11;
      transition: stroke-dashoffset 250ms ease;
    }

    .line--second {
      transition-delay: 300ms;
    }
  }

  .movie[aria-checked="true"] .rough-strike-through .line {
    stroke-dashoffset: 0;
  }

  .imdb-link {
    display: inline-block;
    padding: 0 math.div($spacing-unit, 4);
    margin-left: math.div($spacing-unit, 8);
  }

  .link-icon {
    width: 1rem;
  }

  @include media-query($lap) {
    .imdb-link {
      opacity: 0;
    }

    li:hover .imdb-link, .imdb-link:focus {
      opacity: 1;
    }
  }
}
