.movies-list {
  cursor: pointer;

  .movie {
    line-height: 2;
  }

  .movie span {
    position: relative;
    display: inline-block;
  }

  .rough-strike-through {
    position: absolute;
    top: 0.55em;
    left: 0;
    width: 100%;
    height: 1em;
    color: #d73a49;
    pointer-events: none;

    .line {
      stroke-dasharray: 0 200;
      transition: stroke-dasharray 300ms ease;
    }

    .line--second {
      transition-delay: 300ms;
    }
  }

  .movie.checked .rough-strike-through .line {
    stroke-dasharray: 200 0;
  }

  .imdb-link {
    display: inline-block;
    padding: 0 $spacing-unit / 4;
    margin-left: $spacing-unit / 8;
  }

  .link-icon {
    width: 1rem;
  }

  @include media-query($lap) {
    .imdb-link {
      visibility: hidden;
    }

    .movie:hover .imdb-link {
      visibility: visible;
    }
  }
}
