:root {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-size: calc(9px + 1.5vmin);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color-scheme: light dark;
}

html, body {
  height: 100%;
  margin: 0;
  -webkit-user-select: none;
  user-select: none;
}

button {
  color: inherit;
  font-size: inherit;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

button[disabled] {
  cursor: not-allowed;
}

input {
  font-size: inherit;
}
