<noscript>
  You'll need to enable Javascript to see this section, sorry!
  Using canvas and WebGL your browser renders an image and applies a bunch of effects to it.
  The slider lets you control the progress of the effect animation. It's pretty cool.
</noscript>
<div class="aspect-ratio-box ratio-game-boy">
  <canvas class="aspect-ratio-box-content"></canvas>
</div>
<div class="slider-container">
  <button class="play-pause-button" aria-label="Play animation">
    <svg viewBox="0 0 36 36" fill="currentColor">
      <use xlink:href="#play-icon" />
    </svg>
  </button>
  <input type="range" value="0" min="0" max="100" step="0.01" class="slider" aria-label="Cutoff">
  <span class="display">0</span>
</div>
