{%- capture gist_url -%}{{ 'https://gist.githubusercontent.com/guilhermesimoes/' | append: include.id | append: '/raw/' | append: include.file }}{%- endcapture -%}
<div class="aspect-ratio-box">
  <iframe class="aspect-ratio-box-content embedded-gist" id="js-embedded-gist" src="about:blank" sandbox="allow-scripts allow-forms" marginwidth="0" marginheight="0" scrolling="no"></iframe>
</div>
<script>
  var request = new XMLHttpRequest();
  request.addEventListener("load", function () {
    var html = this.responseText;
    var iframe = document.querySelector("#js-embedded-gist");
    iframe.src = "data:text/html," + encodeURIComponent(html);
  });
  request.open("GET", "{{ gist_url }}");
  request.send();
</script>
