{% capture gist_url %}{{ 'https://gist.githubusercontent.com/guilhermesimoes/' | append: include.id | append: '/raw/' | append: include.file }}{% endcapture%}

<div class="aspect-ratio-box">
  <iframe class="aspect-ratio-box-content" id="js-embedded-gist" src="about:blank" sandbox="allow-scripts allow-forms" marginwidth="0" marginheight="0" scrolling="no"></iframe>
</div>
<script>
  fetch("{{ gist_url }}")
    .then(function (response) {
      return response.text()
    })
    .then(function (html) {
      var iframe = document.querySelector('#js-embedded-gist');
      iframe.src = 'data:text/html,' + encodeURIComponent(html);
    });
</script>
