<header class="site-header">
  <div class="wrapper">
    <div class="site-header-left">
      <a class="site-title" href="/">{{ site.title }}</a>
      <button type="button" class="theme-toggle button-simple hidden" aria-label="Toggle UI theme">{%- include icons/theme-toggle.svg -%}</button>
    </div>

    <nav class="site-nav">
      <input type="checkbox" id="nav-trigger" class="nav-trigger" />
      <label for="nav-trigger">
        {%- include icons/hamburguer.svg -%}
      </label>

      <div class="nav-links">
        <div class="drawer">
          <a href="/blog/">Blog</a>
          <a href="/tags/interactive/">Interactive</a>
          <a href="/">About</a>
        </div>
      </div>
    </nav>
  </div>
</header>
