/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Sensible box model
 */
* {
  box-sizing: border-box;
}



/**
 * Fluid typography
 */
:root {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-size: calc(11px + 0.8vmin);
}



/**
 * Basic styling
 */
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  color: $text-color;
  background-color: $background-color;
  overflow-y: scroll;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote,
ol, ul, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit;
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Lists
 */
ol, ul {
  margin-left: $spacing-unit * 1.5;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
  }
}


/**
 * Blockquotes
 */
blockquote {
  color: $quote-color;
  border-left: 4px solid $quote-border-color;
  padding-left: $spacing-unit;
  margin-left: -1 * $spacing-unit;

  p, ol {
    font-size: 1.125em;
    letter-spacing: -1px;
    font-style: italic;
  }

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre > code {
  border: 0;
  padding: 0;
}



/**
 * IE fixes
 */
article, aside, details, figcaption, figure, footer,
header, hgroup, main, menu, nav, section {
  display: block;
}

article h1, aside h1, nav h1, section h1 {
  font-size: 1.5em;
}



/**
 * Prevent Superscripts and Subscripts from affecting line-height
 */
sub, sup {
  line-height: 0;
}
