.block-embed, .block-source {
  background-color: $embed-background-color;
  border: 1px solid $embed-border-color;
}

.block-embed + .open-new-tab-link .new-tab-icon {
  width: 1.2rem;
}

.open-new-tab-link {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
}
