.blog-index {
  td:first-child {
    padding-right: math.div($spacing-unit, 2);
    white-space: nowrap;
  }

  td {
    padding: 0;
    padding-bottom: math.div($spacing-unit, 2);
    vertical-align: super;
  }

  tr:last-child td {
    padding-bottom: 0
  }

  .rss-icon {
    display: inline-block;
    margin-right: 0.4em;
    height: 1rem;
  }
}
