.block-container {
  position: relative;
}

.block-embed, .block-source figure {
  background-color: light-dark($embed-background-color, $dark-embed-background-color);
  border: 1px solid light-dark($box-border-color, $dark-box-border-color);
}

.block-embed + .open-new-tab-link .new-tab-icon {
  width: 1.2rem;
}

.open-new-tab-link {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
}
