[itemscope] {
  td:first-child {
    padding-right: math.div($spacing-unit, 2);
    white-space: nowrap;
  }

  td {
    padding: 0;
    padding-bottom: math.div($spacing-unit, 2);
    vertical-align: super;
  }

  tr:last-child td {
    padding-bottom: 0
  }

  .rss-icon {
    display: inline-block;
    margin-right: 0.4em;
    height: 1rem;
  }
}

.interactive-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: $spacing-unit;
  list-style: none;
  margin: 0;

  li a {
    display: block;
    border: 1px solid $header-border-color;
  }

  img {
    border-bottom: 1px solid $header-border-color;
  }

  .details {
    padding: math.div($spacing-unit, 2);
  }
}
