.blog-index {
  .post-list {
    margin-bottom: $spacing-unit * 1.5;
  }

  td:first-child {
    padding-right: $spacing-unit / 4;
    white-space: nowrap;
  }

  td {
    padding: 0;
    padding-bottom: $spacing-unit / 4;
    vertical-align: super;
  }

  tr:last-child td {
    padding-bottom: 0
  }

  .rss-icon {
    display: inline-block;
    margin-right: $spacing-unit / 5;
    height: 1rem;
  }
}
