$foreground-color: #fdfdfd;
$light-background-color: darken($foreground-color, 2.5%);
$code-block-background-color: darken($foreground-color, 4.5%);
$embed-background-color: lighten($foreground-color, 10%);
$box-border-color: darken($foreground-color, 16%);

$text-color:       #111;
$muted-text-color: lighten($text-color, 36%);
$brand-color:      #1d6bd7;
$footnotes-highlight-background-color: #ffa;
$strike-through-color: #d73a49;
