$foreground-color: #fdfdfd;
$light-background-color: #f7f7f7;
$code-block-background-color: #f2f2f2;
$embed-background-color: white;
$box-border-color:  #d4d4d4;

$text-color:       #111;
$muted-text-color: lighten($text-color, 36%);
$brand-color:      #1d6bd7;
$footnotes-highlight-background-color: #ffa;
$strike-through-color: #d73a49;
