$header-height: 3.2rem;
$menu-opening-duration: 0.3s;

@media (pointer: fine) {
  @view-transition {
    navigation: auto;
  }
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.site-header {
  flex: 0 1 auto;
  background-color: $header-background-color;
  border-bottom: 1px solid $header-border-color;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height;
  }
}

.page-content {
  flex: 1 1 0;
  padding-top: $spacing-unit * 2;
  padding-bottom: $spacing-unit * 6;
}

.site-title {
  font-size: 1.625em;
  font-weight: 300;
  line-height: $base-font-size * 3.2;
  letter-spacing: -1px;
  margin-bottom: 0;

  &,
  &:visited {
    color: $text-color;
  }
}

.site-nav {
  .nav-trigger {
    display: none;
  }

  label[for="nav-trigger"] {
    display: block;
    padding-left: 36px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }

  input:checked {
    & ~ .nav-links .drawer {
      transform: translateX(0);
    }

    & ~ label {
      .line--1,
      .line--3 {
        stroke-dashoffset: -55.4;
      }
      .line--2 {
        stroke-dashoffset: -11.5;
        stroke-dasharray: 1 24;
      }
    }
  }

  .hamburguer-icon {
    display: block;
    width: 36px;
    height: 36px;
    transform: translateZ(0);
    -webkit-tap-highlight-color: transparent;
  }

  .nav-links {
    position: absolute;
    top: $header-height;
    right: 0;
    overflow: hidden;
  }

  .drawer {
    padding-right: 1em;
    padding-bottom: 5px;
    text-align: right;
    white-space: nowrap;
    transform: translateX(100%);
    background-color: $header-background-color;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: $header-border-color;
    border-bottom-left-radius: 5px;
    transition: transform $menu-opening-duration ease-in-out;
  }

  .page-link {
    display: block;
    padding: 5px 10px;
    margin-left: 20px;
    color: $text-color;
  }

  @include media-query($lap) {
    label[for="nav-trigger"] {
      display: none;
    }

    .nav-links {
      position: initial;
    }

    .drawer {
      padding-right: 0;
      padding-bottom: 0;
      background-color: transparent;
      border: none;
      transform: none;
      transition: none;
    }

    .page-link {
      display: inline;
      padding: 0;

      // Gaps between nav items, but not on the first one
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.post-meta {
  margin-top: $spacing-unit * 3;
  font-size: $small-font-size;
  color: $muted-text-color;
}
