/**
 * Site header
 */
.site-header {
  border-bottom: 1px solid $grey-color-light;
  min-height: $base-font-size * 3.2;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-size: 1.625em;
  font-weight: 300;
  line-height: $base-font-size * 3.2;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  background-color: $background-color;
  border: 1px solid $grey-color-light;
  border-radius: 5px;
  text-align: right;

  .nav-trigger {
    display: none;
  }

  label[for="nav-trigger"] {
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
    user-select: none;
  }

  input ~ .nav-links {
    clear: both;
    display: none;
  }

  input:checked ~ .nav-links {
    display: block;
    padding-bottom: 5px;
  }

  .menu-icon {
    display: block;
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;
  }

  .page-link {
    display: block;
    padding: 5px 10px;
    margin-left: 20px;
    color: $text-color;
  }

  @include media-query($lap) {
    position: static;
    top: 0;
    right: 0;
    float: right;
    border: none;
    background-color: transparent;
    text-align: left;
    line-height: $base-font-size * 3.2;

    .menu-icon {
      display: none;
    }

    label[for="nav-trigger"] {
      display: none;
    }

    input ~ .nav-links {
      display: block;
      padding-bottom: 0 !important;
    }

    .page-link {
      display: inline;
      padding: 0;

      // Gaps between nav items, but not on the first one
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.page-content {
  padding: $spacing-unit 0;
}
