/**
 * Site header
 */
.site-header {
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-size: 1.625em;
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  position: absolute;
  top: 0.6em;
  right: 0.6em;
  background-color: $background-color;
  border: 1px solid $grey-color-light;
  border-radius: 5px;
  text-align: right;

  .nav-trigger {
    display: none;
  }

  label[for="nav-trigger"] {
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
  }

  input ~ .trigger {
    clear: both;
    display: none;
  }

  input:checked ~ .trigger {
    display: block;
    padding-bottom: 5px;
  }

  .menu-icon {
    display: block;
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;

    > svg path {
      fill: $grey-color-dark;
    }
  }

  .page-link {
    display: block;
    padding: 5px 10px;
    margin-left: 20px;
    color: $text-color;
  }

  @include media-query($lap) {
    position: initial;
    top: 0;
    right: 0;
    float: right;
    background-color: none;
    border: none;
    text-align: initial;
    line-height: $base-line-height * $base-font-size * 2.25;

    .menu-icon {
      display: none;
    }

    label[for="nav-trigger"] {
      display: none;
    }

    input ~ .trigger {
      display: block;
      padding-bottom: 0;
    }

    .page-link {
      display: inline;
      padding: 0;

      // Gaps between nav items, but not on the first one
      &:first-child {
        margin-left: 0;
      }
    }
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 1.25em;
}

.post-list {
  margin-bottom: $spacing-unit * 2;

  td:first-child {
    padding-right: $spacing-unit / 4;
    white-space: nowrap;
  }

  td {
    padding: 0;
    padding-bottom: $spacing-unit / 4;
    vertical-align: super;
  }

  tr:last-child td {
    padding-bottom: 0
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.rss-feed-link {
  span {
    font-size: $small-font-size;
  }

  .inline-icon {
    margin-right: $spacing-unit / 6;
  }
}
