@view-transition {
  navigation: auto;
}

html {
  height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.site-header {
  flex: 0 1 auto;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.2rem;
    max-width: 48em;
  }
}

.page-content {
  flex: 1 1 0;
  padding-top: $spacing-unit * 2;
  padding-bottom: $spacing-unit * 6;
}

.site-header .site-title {
  font-size: 1.625em;
  font-weight: 300;
  line-height: $base-font-size * 3.2;
  letter-spacing: -1px;
  margin-bottom: 0;
  color: $text-color;
  text-decoration: none;
}

.site-nav {
  .nav-trigger {
    display: none;
  }

  label[for="nav-trigger"] {
    display: block;
    padding-left: 36px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }

  input:checked {
    & ~ .nav-links .drawer {
      opacity: 1;
      transform: translateX(0);
      pointer-events: initial;
    }

    & ~ label {
      .line--1,
      .line--3 {
        stroke-dashoffset: -55.4;
      }
      .line--2 {
        stroke-dashoffset: -11.5;
        stroke-dasharray: 1 24;
      }
    }
  }

  .hamburguer-icon {
    display: block;
    width: 36px;
    height: 36px;
    transform: translateZ(0);
    -webkit-tap-highlight-color: transparent;
  }

  .nav-links {
    position: absolute;
    top: 3.2rem;
    right: 0;
  }

  .drawer {
    margin-right: 1.5rem;
    text-align: right;
    white-space: nowrap;
    opacity: 0;
    background-color: $header-background-color;
    border: 1px solid $header-border-color;
    box-shadow: 0 0 10px $background-color;
    transform: translateX(25%);
    transition-property: opacity, transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    pointer-events: none;
  }

  a {
    display: block;
    padding: 5px 1em;
    color: $text-color;
    text-decoration: none;
  }

  @include media-query($lap) {
    label[for="nav-trigger"] {
      display: none;
    }

    .nav-links {
      position: initial;
    }

    .drawer {
      margin: 0;
      opacity: 1;
      background-color: transparent;
      border: none;
      transform: none;
      transition: none;
      box-shadow: none;
      pointer-events: initial;
    }

    a {
      display: inline;
      padding: 0;
      margin-left: 1.5em;
    }
  }
}

.deemph {
  font-size: $small-font-size;
  color: $muted-text-color;
}

.post-meta {
  margin-top: $spacing-unit * 3;
}

.gotop-link {
  position: fixed;
  right: 1em;
  bottom: 1em;
  padding: 1em;
  color: currentColor !important;
  transition-property: display, opacity;
  transition-duration: 1s;
  transition-behavior: allow-discrete;

  .icon {
    width: 1em;
  }

  @starting-style {
    opacity: 0;
  }
}
