@charset "utf-8";
@use "sass:math";

// Define defaults for each variable.

$base-font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$base-font-size:   1rem !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     1em !default;

// Width of the content area
$content-width:    36em !default;

// ──palm─┤ ├──lap──┤ ├─desk────────────
$lap:              38em !default;
$desk:             56em !default;

@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

// Import partials.
@import
  "colors",
  "base",
  "layout",
  "utils",
  "icons",
  "blog",
  "home",
  "post",
  "block",
  "404",
  "_posts/my-top-movies-of-the-2010s",
  "_posts/shaders-case-study-pokemon-battles",
  "_posts/shaders-case-study-pokemon-battles-part-2",
  "_posts/apple-does-not-care-about-album-cover-art",
  "_posts/exploiting-chat-gpt",
  "syntax-highlighting"
;
