/**
 * Posts
 */
.post-title {
  font-size: 1.625em;
  line-height: 1;
}

.post-content {
  margin-bottom: $spacing-unit * 2;
}

.post-content hr {
  box-sizing: content-box;
  display: block;
  margin-top: $spacing-unit + 0.5;
  margin-bottom: $spacing-unit + 0.5;
  height: 0;
  border: 0;
  text-align: center;
  overflow: visible;

  &:before {
    position: relative;
    top: -1em;
    display: inline-block;
    margin-left: .6em;
    content: '...';
    color: rgba(0,0,0,.68);
    --x-height-multiplier: 0.342;
    --baseline-multiplier: 0.22;
    font-family: Georgia,Cambria,"Times New Roman",Times,serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.2em;
    letter-spacing: .6em;
  }
}

.anchorjs-link {
  color: $text-color;
}

.anchorjs-link:hover {
  text-decoration: none;
}
