/**
 * Posts
 */
 @function diamond($viewBox: '-8 -8 16 16') {
  @return url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='#{$viewBox}'%3E%3Cpolygon points='0,-4 4,0 0,4 -4,0'/%3E%3C/svg%3E");
}

.post {
  ul {
    list-style-image: diamond($viewBox: '-10 -10 16 16');
  }

  hr {
    box-sizing: border-box;
    width: 12em;
    margin: ($spacing-unit + 0.5) auto;
    height: 0;
    border-width: 1px 0 0 0;
    overflow: visible;
    text-align: center;
    color: $text-color;

    &::after {
      position: relative;
      top: -0.7em;
      display: inline-block;
      width: 3em;
      content: diamond();
      background-color: $background-color;
    }
  }

  .post-meta {
    margin-top: $spacing-unit * 2;
  }

  .date-author-separator {
    margin: 0 0.5em;
    font-size: $base-font-size;
  }
}
