/**
 * Posts
 */
@function diamond($viewBox: '-8 -8 16 16') {
  @return url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='#{$viewBox}'%3E%3Cpolygon points='0,-4 4,0 0,4 -4,0'/%3E%3C/svg%3E");
}

.post {
  ul {
    list-style-image: diamond($viewBox: '-10 -10 16 16');
  }

  hr {
    box-sizing: border-box;
    width: 12em;
    margin: (2.5 * $spacing-unit) auto;
    height: 0;
    border-width: 1px 0 0 0;
    overflow: visible;
    text-align: center;

    &::after {
      position: relative;
      top: -0.7em;
      display: inline-block;
      width: 1em;
      content: diamond();
      background-color: $background-color;
      padding: 0 1em;
    }
  }

  .post-title {
    text-wrap: balance;
  }

  .diamond-icon {
    width: 1rem;
    margin: 0 0.4em;
  }

  [itemprop="additionalName"] {
    display: none;
  }

  .footnotes {
    padding-top: math.div($spacing-unit, 2);
    margin-top: $spacing-unit * 2;
    border-top: 1px solid black;

    :target {
      /* @keyframes duration | easing-function | iteration-count | direction | name */
      animation: 1s ease-in-out 2 alternate highlight;
    }
  }

  .footnote {
    padding-left: 0.5em;
    counter-increment: footnote-count;

    &::marker {
      content: "[" counter(footnote-count) "]";
    }
  }
}

@keyframes highlight {
  to {
    background-color: $footnotes-highlight-background-color;
  }
}
