.wrapper {
  max-width: $content-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
}

.nowrap {
  white-space: nowrap;
}

.ratio-16-9 {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.ratio-game-boy {
  width: 100%;
  aspect-ratio: 160 / 144;
}

.bleed {
  max-width: $content-width + 12 * $spacing-unit;
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
}

.centered {
  display: flex;

  &--h {
    width: 100%;
    justify-content: center;
    align-items: start; // Fix for stretched image on mobile safari https://stackoverflow.com/q/57516373
  }

  &--v {
    height: 100%;
    align-items: center;
  }
}

.simple-centered-h {
  margin: 0 auto;
}

.hidden {
  display: none;
  opacity: 0;
}

.mb-1 {
  @extend %vertical-rhythm;
}
