.wrapper {
  max-width: $content-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: math.div($spacing-unit, 2);
  padding-left: math.div($spacing-unit, 2);
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.nowrap {
  white-space: nowrap;
}

.aspect-ratio-box {
  height: 0;
  overflow: hidden;
  position: relative;
}

.ratio-16-9 {
  padding-top: math.div(9px, 16px) * 100%;
}

.ratio-game-boy {
  padding-top: math.div(144px, 160px) * 100%;
}

.aspect-ratio-box-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bleed {
  max-width: $content-width + 6 * $spacing-unit;
  margin-right: auto;
  margin-left: auto;
  padding-right: math.div($spacing-unit, 2);
  padding-left: math.div($spacing-unit, 2);
}

.centered {
  display: flex;

  &--h {
    width: 100%;
    justify-content: center;
    align-items: start; // Fix for stretched image on mobile safari https://stackoverflow.com/q/57516373
  }

  &--v {
    height: 100%;
    align-items: center;
  }
}

.hidden {
  display: none;
}

.mb-1 {
  margin-bottom: math.div($spacing-unit, 2);
}

.mb-2 {
  margin-bottom: $spacing-unit;
}

.mt-3 {
  margin-top: $spacing-unit * 1.5;
}
