<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang }}" class="animatable">
  {% include head.html -%}
  <body>
    {% include header.html -%}
    <main class="page-content" aria-label="Content">
      {{ content }}
    </main>
    <a href="#" class="gotop-link hidden" id="gotop-link">{%- include icons/up-arrow.svg -%}</a>
    <script src="/assets/js/main.js"></script>

    {% for script in page.scripts %}
      {%- assign js_dependency = script | prepend: '/assets/js/' -%}
      <script src="{{ js_dependency }}"></script>
    {% endfor %}

    {%- assign page_specific_js = page.url | replace: '/blog','/assets/js' | append: '.js' -%}
    {% for file in site.static_files %}
      {%- if file.path == page_specific_js -%}
        <script src="{{ page_specific_js }}"></script>
      {%- endif -%}
    {% endfor %}
  </body>
</html>
