<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang }}">
  {% include head.html -%}
  <body>
    {% include header.html -%}
    <main class="page-content" aria-label="Content">
      {{ content }}
    </main>
    {% include footer.html -%}

    {% for script in page.scripts %}
      {%- assign js_dependency = script | prepend: '/assets/js/' -%}
      <script type="text/javascript" src="{{ js_dependency }}"></script>
    {% endfor %}

    {%- assign page_specific_js = page.url | replace: '/blog','/assets/js' | append: '.js' -%}
    {% for file in site.static_files %}
      {%- if file.path == page_specific_js -%}
        <script type="text/javascript" src="{{ page_specific_js }}"></script>
      {%- endif -%}
    {% endfor %}
  </body>
</html>
