<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  {% include head.html -%}
  <body>
    {% include header.html -%}
    <main class="page-content" aria-label="Content">
      {{ content }}
    </main>
    {% include footer.html -%}

    {%- assign custom_js = page.url | replace:'blog','assets/js' | append: '.js' -%}
    {% for file in site.static_files %}
      {%- if file.path == custom_js -%}
        <script type="text/javascript" src="{{ custom_js }}"></script>
      {%- endif -%}
    {% endfor %}
  </body>
</html>
