---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <link itemprop="mainEntityOfPage" href="{{ page.url | absolute_url }}" />

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {% assign reading_time = content | number_of_words | divided_by:180.0 | round %}
      <time datetime="{{ reading_time }}" itemprop="duration">
        {{ reading_time }} min. read
      </time>
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="post-meta">
    {% if page.published %}
      <p>
        This essay <a href="{{ page.published.url }}">previously appeared</a> in the <em>{{ page.published.publication }}</em>.
      </p>
    {% endif %}
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {{ page.date | date: site.date_format }}
    </time>
    •
    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
      <span itemprop="name">{{ page.author.name | default: site.author.name }}</span>
    </span>
  </div>
</article>
