---
layout: default
---
<article class="post wrapper" itemscope itemtype="http://schema.org/BlogPosting">
  <link itemprop="mainEntityOfPage" href="{{ page.url | absolute_url }}" />

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
  </header>

  {% if page.hero_image -%}
    <figure class="aspect-ratio-box {{ page.hero_image.ratio | default: 'ratio-16-9' }}">
      <img src="{{ page.hero_image.path }}" alt="{{ page.hero_image.alt }}" class="aspect-ratio-box-content" itemprop="image" />
    </figure>
  {% endif -%}

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% include post-meta.html -%}
</article>
