---
layout: default
---
<article class="post wrapper" itemscope itemtype="http://schema.org/BlogPosting">
  <link itemprop="mainEntityOfPage" href="{{ page.url | absolute_url }}" />

  <header class="post-title">
    <h1 itemprop="name headline">{{ page.title }}</h1>
  </header>

  {%- assign image = page.gif | default: page.image -%}
  {% if image.hero -%}
    <figure>
      <img src="{{ image.path }}" alt="{{ image.alt }}" class="{{ image.ratio | default: 'ratio-16-9' }}" itemprop="image" />
    </figure>
  {% endif -%}

  <div class="post-content {{page.class}}" itemprop="articleBody">
    {% include toc.html html=content id="toc" %}
  </div>

  {% include post-meta.html -%}
</article>
